@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #6fa3df;
    --primary-color-darker: #5c85b4;
    --primary-color-darker-darker: #415d7e;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body { 
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px; 
}

form input,
form label,
form button {
    display: block;
    width: 100%;  
    margin-bottom: 10px;  
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

form button:active {
    background: var(--primary-color-darker-darker);
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

div {
    margin-bottom: 20px;
}

h1 {
    color: var(--primary-color);
}

.choose-options {    
    margin-top: 50px;
    margin-bottom: 25px;
}

.password {
    margin-bottom: 25px;
    color: green;    
    inline-size: 95%;
    overflow-wrap: break-word;    
}

p {
    display: inline;
}

input[type="range"] {
    width: 25%;
    cursor: pointer;      
}

label { 
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 24px;
    background: grey;
    display: inline-block;
    border-radius: 100px;
    position: absolute;
    margin-top: 4px;
}

label:after {
    content: '';
    position: absolute;
    top: 3.8px;
    left: 5px;
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: var(--primary-color);    
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 17px;
}

.generate-password {
    height: 40px;    
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color-darker-darker);
    border-radius: 5px;
}